@import "tailwindcss";

.dark{
    --color-primary:#171717;
    --color-secondary:#0A7Ac2;
    --color-tertiary:#9CA2A6; 
    --color-body-text:#ffffff;
    --color-shadow-black: #000000;
    --color-shadow-white: #404040a1 ;
    --color-cards:#E0E0E0;
}
.light{
    --color-primary:#DBDBDB;
    --color-secondary:#0A7Ac2;
    --color-tertiary:#616161;
    --color-body-text:#000000;
    --color-shadow-black: #00000026;
    --color-shadow-white: #ffffff;
    --color-cards:#E0E0E0;
}
.container-shadow{
    box-shadow: 
    -1px -1px 1px 0px var(--color-shadow-black),  
    1px 1px 1px 0px var(--color-shadow-white);
}
.icon-shadow{
    box-shadow:
    inset -1px -1px 1px 0px var(--color-shadow-black),
    inset 1px 1px 1px 0px var(--color-shadow-white);
}
.main-container{
    box-shadow: 
    inset -2px -2px 2px 0px #404040a1, 
    inset 2px 2px 2px 0px #000000;
}
.humburger__top{
    transform: rotate(45deg) translate(3px ,3px);
}
.humburger__bottom{
    transform: rotate(-45deg) translate(3px ,-3px);
}
